@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Workbench&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #fcfbfb;
    font-family: sans-serif, Arial, "Protest Revolution";
    font-size: 21px;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2 {
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}

.nav_link {
    padding: 30px;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
}
.home-title {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 3.5em;
}
main{
    background-color: white;
    padding: 40px;
}
#main_title {
    font-size: 4em;
    text-align: center;
    font-family: Workbench;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -124px;

}
#hero-img {
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img, .mountains {
    width: 65%;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.msg p {
    padding-bottom: 15px;
}
img {
    display: block;
    margin: 0 auto;
}
#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 55%;
    border-radius: 10px;
}
header {
    background-color: #023047;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: #ffb703;
    text-decoration: none;
    padding: 35px;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
footer a {
    text-align: center;
    color: #023047;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    color: #023047;
}
footer p a:hover {
    text-decoration: underline;
}
footer {
    background-color: #ffb703;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
p, h3 {
    text-align: center;
}



/* Home page .html */
.first-paragraph, .second-paragraph, .third-paragraph {
    font-family: Arial, sans-serif, "Protest Revolution";
    font-size: 21px;
}
.img-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.top-img, .middle-img, .bottom-img {
    width: 80%;
    border: #000;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
}
.title1, .title2, .title3 {
    grid-column: 1/4;

}
.first-paragraph, .third-paragraph {
    grid-column: 1/3;
}
.second-paragraph {
    grid-column: 2/4;
}
.top-img, .bottom-img {
    grid-column: 3/4;
}
.title1 {
    grid-row: 1/2;
}
.top-img, .first-paragraph {
    grid-row: 2/3;
}
.title2 {
    grid-row: 3/4;
}
.middle-img, .second-paragraph {
    grid-row: 4/5;
}
.title3 {
    grid-row: 5/6;
}
.bottom-img, .third-paragraph {
    grid-row: 6/7;
}
/* End of the home page .html */



/* New what-we-sell.html .css page */
.first-paragraph, .second-paragraph, .third-paragraph {
    font-family: Arial, sans-serif, "Protest Revolution";
    font-size: 21px;
}
.img-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.top-img, .middle-img, .bottom-img {
    width: 80%;
    border: #000;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
}
.title1, .title2, .title3 {
    grid-column: 1/4;

}
.first-paragraph, .third-paragraph {
    grid-column: 1/3;
}
.second-paragraph {
    grid-column: 2/4;
}
.top-img, .bottom-img {
    grid-column: 3/4;
}
.title1 {
    grid-row: 1/2;
}
.top-img, .first-paragraph {
    grid-row: 2/3;
}
.title2 {
    grid-row: 3/4;
}
.middle-img, .second-paragraph {
    grid-row: 4/5;
}
.title3 {
    grid-row: 5/6;
}
.bottom-img, .third-paragraph {
    grid-row: 6/7;
}
/* End of what-we-sell.html css */



/*contact us */
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}





@media screen and (max-width: 950px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}